* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("./loginbackground.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.login-container {
  background: #f1ecec;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 320px;
}
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.input-box input:focus {
  border-color: #4facfe;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #4facfe;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #00c6ff;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}